body {
    background-color: #d1e7f7; /* Fundo azul claro */
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
}

.card {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}
.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}